.body {
    display: flex ;
    flex-direction: column ;
    font-family: Roboto, sans-serif ;
   
}

.header { 
    display: flex ;
    justify-content: space-around ;
    align-items: center ;
    color:whitesmoke ; 
    font-size: 24px ;
    font-weight: 700 ;
    background-color: rgb(40, 40, 56);

}

.first-box {
    display: flex ;
    justify-content: center  ;
    color: white ;
    background-color: rgb(40, 40, 56);
    padding: 30px ;
    gap: 200px ;
    padding: 50px ;
    
}

.left-side {
    width: 410px ;
    font-size: 20px ;
}

.right-side img {
    width: 650px ;
    height: 300px ;
}

.title {
    text-align: center ;
    margin: 15px ;
    font-weight: bold ;
    font-size: 36px ;

}

.second-box {
    display: flex ;
    justify-content: center;
    gap: 52px ;
    margin-bottom: 50px ;
   
}
.text {
   width: 200px ;
}

img {
    width: 200px ;
    height: 200px ;
}

.third-box {
    background-color: #E5E7EB ;
    height: 300px ;
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    padding-top: 50px ;
}

.inner-box {
    display: flex ;
    flex-direction: column ;
    width: 600px ;
}

.quote {
    display: flex ;
    justify-content: center ;
    color: #1f2937 ;
    font-size: 36px ;
    font-style: italic ;
}

.author {
    display:flex ;
    justify-content: flex-end;
    font-weight: bold ;
}

.fourth-box {
    padding: 50px ;
    display: flex ;
    justify-content: center ;
    height: 100px ;
}

.Sign-up {
    color: #E5E7EB ;
    background-color: #3882F6  ;
    border-style: solid ;
    border-color: white; 
    border-radius: 5px ;
    width: 100px ;
    height: 30px ;
    font-weight: bold ;
    
}

.left {
    display: flex ;
    flex-direction: column ;
    margin: 30px ;
    
}

.modal {
    font-size: 18px ;
    font-weight: bold ;
}


.right {
    display: flex ;
    align-items: center ; 
    padding-left: 20px ;
    margin-left: 20px ;
}
.info {
    display: flex ;
    justify-content: space-around ;
    width: 900px ;
    background-color: #3882F6 ;
    border-radius: 10px ;
    color: white ;
}

.footer {
    background-color: rgb(40, 40, 56) ;
    display: flex;
    justify-content: center ;
    margin: 0px ;
    color: white ;
    height: 100px ;
    align-items: center ;
    
}
a {
    text-decoration: none ;
    color:whitesmoke ;
    font-size: 16px ;
    font-weight: 300 ;
    
}

ul {
    list-style-type: none ;
    display: flex ;
    gap: 18px ;
    
}